:root {
}

.adjustment-button {
    position: absolute;
    height: 100px;
    width: 75px;
    background-image: resource("Color Studio/Icons/cmd_disp_down");
    opacity: 1;
    transition-duration: 0.2s;
}

.adjustment-button:enabled {
    position: absolute;
    opacity: 1;
}

.adjustment-button:disabled {
    position: absolute;
    scale: 0.95 0.95;
    opacity: 0;
}






